{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
</head>
<body>

    <div class="container backpanels">
        <div class="panel panel-default backpanels">
            <div class="row">
                <div class="col-8">
                    <h2 class= "judul">Halo, Apa Kabar?</h2>
                    <form action="" method="POST">
                      {% csrf_token %}
                        {{form}}
                        <button type="submit" class="submit button primary">Twit</button>
                       
                        <h4> Timeline </h4>

                        <div class ="grid-x">
                            {% for twit in status %}
                              <div class = "small-4 cell">
                                <h6 > {{twit.title}} </h6>
                                <p > "<i>{{twit.date}}</i> <i>{{twit.time}}</i>" </p>
                              </div>
                            {% endfor %}
                      </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>

